In [8]:
#calling all needed packages
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import collections

import tweepy as tw
import nltk
from nltk.corpus import stopwords
import re
import networkx
from textblob import TextBlob

import warnings
import csv
warnings.filterwarnings("ignore")

sns.set(font_scale=1.5)
sns.set_style("whitegrid")
print("cell 22/1/22")

cell 22/1/22

In [9]:
consumer_key="d6nkOYidvIcLAfqgeGe0DuFvI"
consumer_scret="0L2XsVoJSF1srSSgTyUktXZhmRMg6sPNZgDuO9WKYGhlWajEKC"
access_token="1377948754658009093-IrIAIU94d1Y9q6WxO5mMLC0Z9yzpwm"
access_token_scret="KNrBBuGUC6jf5ahb56wIzqoJRdV0A8AdWfgFDJhdOyaER"
print("cell2  22/1/22")

cell2  22/1/22

In [10]:
#authontication
auth=tw.OAuthHandler(consumer_key,consumer_scret)
auth.set_access_token(access_token,access_token_scret)
api=tw.API(auth,wait_on_rate_limit=True)
print("cell3  22/1/22")

cell3  22/1/22

In [11]:
#remove url
def remove_url(txt):
    """Replace URLs found in a text string with nothing 
    (i.e. it will remove the URL from the string).

    Parameters
    ----------
    txt : string
        A text string that you want to parse and remove urls.

    Returns
    -------
    The same txt string with url's removed.
    """

    return " ".join(re.sub("([^0-9A-Za-z \t])|(\w+:\/\/\S+)", "", txt).split())
print("cell 4 22/1/22")

cell 4 22/1/22

In [12]:
#various file are created with several #tags on mask to collect all tweets and sorted them in seperate file INDIA MASKTWEETS.csv
import csv
search_term = "#maskoff"+ "-filter:retweets"
csvFile=open(r'C:\Users\DELL\Desktop\RNTU\dataset prepared\hmaskoffnew.csv','w')


with csvFile:
    csvWriter=csv.writer(csvFile)
    for tweet in  tw.Cursor(api.search,
                   q=search_term,
                   lang="en",
                   since='2022-01-20').items():
      csvWriter.writerow([tweet.created_at,tweet.text.encode('utf-8'),tweet.user.screen_name.encode('utf-8'),tweet.user.location.encode('utf-8')])
print(type(tweet))
print("data added")

<class 'tweepy.models.Status'>
data added

In [13]:
#collected indian tweets
import numpy as np
tweets = pd.read_csv(r'C:\Users\DELL\Desktop\RNTU\dataset prepared\workfromhome\hWFH_COMBINE.csv',header=None,names=["created_at","text","screen_name","location"])
np.random.seed(0)
tweets.head()

,created_at,text,screen_name,location
0,30-01-2022 09:08,b'Giveaway of the Day : PDF Mixer Pro 1.4.1 ht...,b'KostNixx',b''
1,30-01-2022 09:04,b'#Russia #HomeOffice UK urged to suspend \xe2...,b'videoactualize',"b'Somerset, United Kingdom'"
2,30-01-2022 09:00,b'Have you tried adding greenery to your desk?...,b'FlexispotU',"b'London, England'"
3,30-01-2022 08:49,b'Calls for UK to suspend \xe2\x80\x98golden v...,b'UKVisaBarrister',"b'London, UK'"
4,30-01-2022 08:40,b'NBR Yoga Set 7 Pcs\n\xe2\x9e\xa2\xe2\x9e\xa2...,b'make_home_cozy',b''

In [14]:
print(tweets.shape)
#print(test.shape)

(6719, 4)

In [15]:
user_text=pd.DataFrame(data=tweets,columns=['location', 'screen_name'])
user_text

                               location         screen_name
0                                   b''         b'KostNixx'
1           b'Somerset, United Kingdom'   b'videoactualize'
2                    b'London, England'       b'FlexispotU'
3                         b'London, UK'  b'UKVisaBarrister'
4                                   b''   b'make_home_cozy'
...                                 ...                 ...
6714  b'Birmingham UK, Luxembourg City'         b'JennyN68'
6715                          b'Mumbai'       b'BMBlogHost'
6716                   b'Mumbai, India'          b'Mayuri6'
6717                b'United States US'        b'zobjobsUS'
6718            b'United Kingdom UK GB'        b'zobjobsGB'

[6719 rows x 2 columns]

In [23]:
import csv

tweetnew=open(r'C:\Users\DELL\Desktop\RNTU\dataset prepared\workfromhome\hWFH_COMBINE.csv',encoding='utf-8')

tweets=csv.DictReader(tweetnew)
print("HEADER:")
print(["screen_name"])
print(type(line))
print("Data:")
for line_no,line in enumerate(tweets,1):
    print(line[0])
    print(line[1])

HEADER:
['screen_name']
<class 'dict'>
Data:

KeyError: 0

In [24]:
data=pd.read_csv('C:\Users\DELL\Desktop\mask covid19\mask dataset\INDIA MASKTWEETS.csv',sep= ',\s*',header=None).values
pd.DataFrame(data.reshape(-1,4),columns=['created_at','text','screen_name','location'])

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_6772/1565722153.py, line 1)

In [25]:

import pandas as pd
tweetnew=open(r'C:\Users\DELL\Desktop\mask covid19\mask dataset\INDIA MASKTWEETS.csv',encoding='utf-8')

tweets=csv.DictReader(tweetnew)
user=[]
for tweet,line in enumerate(tweets,1):
    user =[[line["location"],line["screen_name"],line["text"] ]]
    tweets_no_urls = [remove_url(line["text"])]
    print(tweets_no_urls)
#user_text=pd.DataFrame(data=user,columns=['location', 'screen_name'])
#user_text
print(type(tweets))

KeyError: 'location'

In [85]:
tweets_items=tweets.keys()
print(tweets_keys)

AttributeError: 'DictReader' object has no attribute 'keys'

In [82]:
tweets_items=tweets.items()
user = [[tweet.user.location,tweet.user.screen_name] for tweet in tweets]
print(type(user))
user_text=pd.DataFrame(data=user,columns=['location', 'screen_name'])
user_text

<class 'list'>

Empty DataFrame
Columns: [location, screen_name]
Index: []